#header {
  height: 50px;
  background-color: #10284e;
  color: #fff;
}

#branding h1 {
  color: #fff;
}

a:link,
a:visited {
  color: #10284e;
}

div.breadcrumbs {
  background: #30caa0;
}
div.breadcrumbs a {
  color: #333;
}

.module h2,
.module caption,
.inline-group h2 {
  background: #10284e;
  padding: 20px 20px;
  border-radius: 5px;
  font-size: 17px;
}
